html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
	text-align: justify;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
	}

#contactDetails ul li a, a[href^=tel] {
	text-decoration: none;
	transition: all .3s ease-in;
	vertical-align: super;
	padding: 4px;

}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}


section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}


.sectionContent {
	float: right;
	width: 72.5%;
}



.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.4em;
	color: #cf8a05;
	
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-o-column-count:3;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}

	.keySkills {
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		display: none;
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills {
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}


	.keySkills {
	column-count:1;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}


@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {

	animation-name: reset, fade-in;
    animation-duration: 1.5s;
		//animation-duration: 0s;
    animation-timing-function: ease-in;
}

.quickFade {

	animation-name: reset, fade-in;
    animation-duration: 2.5s;
		//animation-duration: 0s;
    animation-timing-function: ease-in;
}

.delayOne {
	animation-delay: 0, .5s;
}

.delayTwo {
	animation-delay: 0, 1s;
}

.delayThree {
	animation-delay: 0, 1.5s;
}

.delayFour {
	animation-delay: 0, 2s;
}

.delayFive {
	animation-delay: 0, 2.5s;
}

.logo {
	float: right;
	width: 100px;
}



/*publications*/
.publication {
	margin-bottom: 20px;
}

.reference{
	margin-bottom: 10px;
}

ul{
	list-style-position: inside;
	margin-bottom: 20px;
	/*list-style-type: url('sqpurple.gif')*/
}

.number{ /*citation indexes*/
	text-align: right;

}

/*publications*/
#pubs em{
	font-style: italic;
}

#pubs span{
	font-size: 0.8em;
}

.publication a{
	text-decoration: none;
	decoration: none;
	transition: all .3s ease-in;
}


/*contact details*/
#ema { /*em41l*/
	width: 120px;
}

.bottomDecorator{
	text-align: center;
}

.ContinuingEducation{
	margin-bottom: 20px;
}

/* for alignment of wrapping lines in <li>*/
li {
	list-style-position:inside;
	margin-left: 0em;
	list-style-type: none;
	margin-bottom: 3px;
}

.reference a {
	//color: #444;
	color: blue;
	color: #906003;
	color: brown;
	text-decoration: none;
	decoration: none;
	transition: all .3s ease-in;
}

.reference a.email {
	color: #444;
	text-decoration: none;
	decoration: none;
	transition: all .3s ease-in;
}

a{
	text-decoration: none;
	decoration: none;

  color: #444;
	color: #cf8a05;
	color: #7c5203;
	color: #906003;
	color: brown;

}
a:hover{
	color: #cf8a05;

}

table{
	border: 1px solid #444;
}


.fa-angle-double-right{
	color: #cf8a05;
}


.video-container {
	position:relative;
	padding-bottom:50.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}